name: build-exe
on: [push, pull_request]

permissions:
  contents: read

jobs:
  build-exe:
    runs-on: windows-latest
    strategy:
      matrix:
        compiler: [msvc]
        optimized: [true, false]
    env:
      CMAKE_BUILD_DIR: ${{ github.workspace }}\build
      CMAKE_BUILD_TYPE: ${{ matrix.optimized && 'RelWithDebInfo' || 'Debug' }}
      BINARY_SUFFIX: .exe
      BINARY_PATH: >-
        ${{ format('{0}\build\{1}\', github.workspace, matrix.optimized && 'RelWithDebInfo' || 'Debug') }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Generate build config
        run: >
          cmake -S "${{ github.workspace }}" -B "${{ env.CMAKE_BUILD_DIR }}"
          -DCMAKE_BUILD_TYPE=${{ env.CMAKE_BUILD_TYPE }}

      - name: Build
        run: >
          cmake --build "${{ env.CMAKE_BUILD_DIR }}"
          --config "${{ env.CMAKE_BUILD_TYPE }}"

      - name: List built executables
        run: |
          Get-ChildItem -Path "${{ env.CMAKE_BUILD_DIR }}" -Filter *.exe -Recurse
